#lifejs {
  position: relative;
  width: 500px;
	float: left;
	margin: 0 10px 10px 0;
}
#frame {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #888;
  padding: 0;
}
#field {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: -200px;
  left: -100px;
}
#evcap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
#frame, #field, #evcap {
  cursor: default;
}
/* Toolbar */
#toolbar {
  width: 500px;
  height: 36px;
  overflow: hidden;
  background: #D8D8D8;
  margin: 1px;
}
#toolbar a, #toolbar span, #toolbar div {
  display: block;
  height: 32px;
  margin: 2px;
  float: left;
}
#toolbar .sep {
  width: 8px;
}
#toolbar #info {
  width: 90px;
  overflow: hidden;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10pt;
  padding: 1px;
  border: 1px solid;
  border-left-color: #C0C0C0;
  border-top-color: #C0C0C0;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
}
